##!/bin/bash
/usr/local/bin/aws servicecatalog provision-product --provisioned-product-name {{ ami_name }} \
--product-id {{ product_id.stdout }} --provisioning-artifact-id {{ version_id.stdout }} \
--provisioning-parameters Key=AMIName,Value={{ ami_name }} Key=AMIId,Value={{ ami_id }} Key=TargetAccountId,Value={{ prod_aws_acct }} Key=SSMParameterName,Value={{ key_arn }} --region {{ region }}
